* {
  margin: 0;
  padding: 0;
}

.MuiPaper-root makeStyles-paper-6 MuiPaper-elevation1 MuiPaper-rounded  {
  scale: 88%;
}


body {
  background-image: url('images/Blackie.png');
  background-size: cover;
  height: 100vh;
}